.highlight{
    background-color: #ccc !important;
}
.inlineBlock{
    display: inline-block;
}
.inline{
    display: inline;
}
.displayNone{
    display: none;
}
.editable-pre{
    white-space: normal !important;
}
